// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #fbc234;
$white:                 #fff;

// Nav
$nav-link-hover-bg: $brand-primary;
$nav-height: 50px;
$nav-border-offset: 6px;
