.banner {
  border-bottom: 4px solid $gray-lighter;
  font-size: $font-size-large;
  height: $nav-height;

  .container-fluid {
    padding-right: 0;
  }
}

nav {
  display: inline-block;
  float: right;
  height: $nav-height;
  margin-top: -$nav-border-offset;
}

.nav {

  > li {
    border-top: $nav-border-offset solid $white;
    display: inline-block;
    height: $nav-height;
    padding-top: 6px;

    > a {
      color: $gray-light;
      height: $nav-height - $nav-border-offset;
      margin: -6px 0 0 0;
      padding: 10px 15px 10px;

      &:hover,
      &:active {
        padding-top: 4px;
        background: transparent;
        border-top: 6px solid $brand-primary;
      }
    }

    &:hover,
    &:active {
      background: transparent;
      transition: all, .2s;
    }
  }
}

.menu-item {
  text-transform: uppercase;
}
